*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#632973, #0d0d0d);
  /* background-image: url("/img/logoPretoBranco.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover; */
}

.fundo{
  /*background-image: url("/img/logoPretoBranco.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-size: cover; */
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

}

.teste {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test2 {
  width: 500px;
  height: 550px;
  background-color: rgba(77, 77, 77, 0.705);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 35px;

}

