*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;

}
header a{
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.inicio a{
    background-color: #632973;
    color:white;
}
.link{
    display: flex;
    gap: 10px;
    font-weight: 500;
}
.inicio{
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
header a:hover{
    transform: translateY(-5px);
}
main{
    width: 100%;
    height: 100%;
    background: linear-gradient(#7e5391  ,#0D0D0D);
}
.carousel-inner {
    height: 600px; /* altura fixa do carrossel */
    width: 200px;
}

.carousel-item img {
    width: 100%;
    height: 100%;        /* ocupa toda altura */
    object-fit: cover;   /* mantém proporção e cobre o container */
    border-radius: 20px;
}
.container{
    display: flex;
    gap: 50px;
}
.texto{
    width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.plano{
    color:#632973;
    font-weight: 700;
}
.positivo{
    color:#0b661f;
    font-weight: 700;
}

#sobre{
    margin-top: 60px;
    color: white;
    flex-direction: column;
    text-align: start;
    width: 400px;
    justify-content: flex-start;
    margin-left: 150px;
    padding-bottom: 80px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #0D0D0D;
    padding: 50px;
}
.creditos{
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
    
}
.creditos img{
    width: 150px;
    border-radius:110px;  
}
footer h3{
    margin-left: 110px;
    margin-right: 110px;
    color: white;
}

.creditos a{
    text-decoration: none;
    color: white;
}
.creditos p {
    text-align: center;
}


