@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #ffffff;
    --background-transaction: #f8f8ef;
    --shadow: #00000020;
    --color-receitas: #43d85b;
    --color-despesas: #d64747;
    --color-investimentos: #3d49bd;
    --color-faturas-cartao: #d6ff43;
    --color-saldo: #a1e6b5;
    --border-input: #e4d9d9;
    --btn-add-transaction: #64e66f;
    --font-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 750ms ease-in-out;
    color: var(--font-color);
}

a {
    text-decoration: none;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    overflow: hidden;
}

form label {
    display: block;
    font-size: 26px;
    margin: 8px 0 4px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--border-input);
    border-radius: 4px;
    font-size: 14px;
}

form textarea {
    resize: vertical;
    min-height: 60px;
}

form button {
    font-size: 16px;
    margin-top: 12px;
    padding: 10px;
    background: var(--btn-add-transaction);
    border: none;
    border-radius: 4px;
    color: var(--font-color);
    cursor: pointer;
}

/* */

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.side-container {
    margin: 10px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(-150px);
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 150px;
    gap: 10px;
    border-radius: 10px;
    padding-bottom: 250px;
    background-color: var(--background);
    box-shadow: 1px 1px 6px var(--shadow);
}

.side-menu img {
    width: 40px;
    opacity: 90%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    gap: 30px;
}

.main-header {
    text-align: center;
}

.account-display {
    display: flex;
    gap: 30px;
}

.account-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-transaction);
    min-width: 80vw;
    min-height: 55vh;
    max-width: 80vw;
    max-height: 55vh;
    overflow: scroll;
    border-radius: 4px;
}

.transactions {
    padding: 15px;
    text-align: center;
    border-spacing: 0px 14px;
    border-collapse: separate;
}

.transactions thead {
    font-size: 15px;
    font-weight: 400;
    box-shadow: 1px 1px 1px #00000017;
    width: 100%;
}

.transactions > tbody {
    gap: 10px;
}

.modal-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal {
    visibility: hidden;
    position: fixed;
    top: 3.5%;
    left: auto;
    transform: translateX(-32vw);
    right: auto;
    bottom: auto;
    background-color: var(--background);
    box-shadow: 2px 2px 6px var(--shadow);
    border-radius: 4px;
    padding: 15px;
    height: 95vh;
    width: 460px;
    z-index: 10;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal-header img {
    width: 40px;
}

.item {
    font-size: 19px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-radius: 4px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 3px #0000004b;
}

.chart-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 15px;

}

/* ID */

#chart-modal {
    transform: translateX(-100vw);
    height: 95vh;
    width: 100vw !important;
}

#my-chart {
    display: flex;
/*     width: 500px !important;
    height: 500px !important; */
}

#btn-add:active {
    filter: brightness(120%);
    transform: translateY(0.75px);
}

#btn-open-menu {
    visibility: hidden;
}

#btn-arrow {
    position: fixed;
    top: 260px;
    left: 122px;
    cursor: pointer;
    width: 50px !important;
}

#profile-picture {
    width: 110px;

}

#logo-etec {
    padding-bottom: 50px;
    width: 100px;
}


#btn-help {
    padding-top: 90px;
}

#transaction-form input, select {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#transaction-form>label {
    text-align: justify !important;
}

#select-card-modal {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    align-items: center;
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 6px;
    transform: scale(1, 0);
}

#select-card-modal > select {
    text-align: center;
    border-radius: 4px;
    width: 150px;
    height: 30px;

}

#card-options {
    display: flex;
    margin-top: 10px;
    margin-left: 86%;
    width: 60px;
}


#item-receita {
    border-color: var(--color-receitas);
}

#item-despesa {
    border-color: var(--color-despesas);
}

#item-investimento {
    border-color: var(--color-investimentos);
}

#item-fatura-cartao {
    border-color: var(--color-faturas-cartao);
}

#item-saldo {
    border-color: var(--color-saldo);
}

/* Interações com JS.*/

.side-open {
    transform: translateX(0) !important;
}

.btn-reverse {
    left: 115px !important;
    transform: rotate(-180deg) !important;
}

.open-modal {
    visibility: visible !important;
    transform: translateX(0px) !important;
}

.open-card-modal {
    visibility: visible !important;
    transform: scale(1, 1)!important;
}

.open-modal-fullscreen {
    visibility: visible !important;
    transform: translateX(0vw) !important;
}